.prop {
    -fx-font-weight: bold;
}
.opts {
    -fx-fill: #cc3300;
    -fx-font-weight: bold;
}
.comment {
	-fx-fill: #009900;
}
.sep {
	-fx-fill: #d9b100;
}
.spec {
	-fx-fill: #cc3300;
}
.number {
	-fx-fill: #3366ff;
}